pyautogui
numpy
pandas
OS-Platform
pyfiglet
pyttsx3
pywhatkit
selenium
pyjokes
playsound
secure-smtplib
wikipedia
matplotlib
pyPdf
PyPDF2
docx
keyboard
tk-tools
tk
moviepy
docx
spacy
wget
